:root {
  --color-primary: #0A1334;
  --color-secondary: #14202E;
  --color-accent: #2D4356;
  --color-text: #89AAC3;
  --color-white: #ffffff;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}






body{
  background-color:rgb(228, 227, 227) ;
}
.category-cards{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.category-card{
  width: 100%;
  max-width: 350px;
  height: auto;
  background-color: white;
  border-radius: 5px;
}
.active_link{
  background-color: orange;
}
.cuisine_cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.cuisine_card {
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 350px;
  height: auto;
  background-color: aliceblue;
  color: rgb(0, 0, 162);
  border-radius: 5px;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.logo {
  color: rgb(0, 0, 162);
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: rgb(0, 0, 162);
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  font-weight: bolder;
}

.nav-links a:hover {
  color: #ffcc00;
}


